.dark-bg {
    background-color: #4A707C !important;
}

.Auth {
    align-items: center;
}

.auth-modal {
    background-color: #fff;
    margin: auto;

    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 45px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    box-shadow: 0 0 100vmax #999;
}

.modal-title {
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
    padding: 10px 0;
}

input {
    margin: 4px 0;
}

.field {
    background-color: #fff;
    padding: 10px;
    width: 300px;
    color: #000;
    border: 1px solid #ccc;
    font-size: 0.8em;
}

.field::-webkit-input-placeholder {
    color: #333;
}

.field::-moz-placeholder {
    color: #333;
}

.field:-ms-input-placeholder {
    color: #333;
}

.field:-moz-placeholder {
    color: #333;
}

.auth-err {
    color: #DA4165;
    font-size: 0.8em;
    text-wrap: normal;
    width: 300px;
}

@media only screen and (max-width: 640px) {
    .auth-modal {
        background-color: #fff;
        margin: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
        justify-content: center;
    }

    .field {
        width: 100%;
    }

    .auth-err {
        width: 100%;
    }
}