.Browse {
    justify-content: center;

    background-color: #4A707C;
    text-align: center;
}

.browse-wrapper {
    max-width: 1600px;
    margin: 25px auto;
}

.cards-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.browse-card {
    background-color: #fff;
    margin: 20px 40px;

    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);

    overflow: hidden;

    width: 213px;
}

.browse-card.skeleton {
    background-color: #ddd;
}

.card-bottom {
    padding: 5px 10px;
    background-color: #EF476F;
    text-align: left;
    font-size: 14px;
    color: #000;

    position: relative;
}

.card-bottom.skeleton {
    background-color: rgba(0, 0, 0, 0.1);;
}

.bc-img {
    height: 160px;
    width: 213px;
    background-position: center;
    background-size: cover;
    display: flex;
}

.bcb-sml {
    color: rgba(255, 255, 255, 0.8);
    line-height: 17px;
    font-size: 14px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bc-ttl {
    bottom: 100%;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    line-height: 17px;
    font-size: 14px;
}

.bc-ttl.skeleton, .bcb-sml.skeleton {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    height: 13px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.bcb-sml.skeleton:first-child {
    margin-right: 6px;
    width: 180%;
}

.bcb-b {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagination {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.pagination > li {
    list-style: none;
}

.pagination > li > a {
    display: block;
    padding: 0 8px;
    margin: 5px;
    background-color: #073B4C;
    min-width: 36px;
    border-radius: 2px;
    color: #bbb;
    user-select: none;
    cursor: pointer;
}

.pagination > li > a:hover {
    color: #fff;
}

.pagination > .active > a {
    background-color: #DA4165;
    color: #fff;
}

.browse-no-results {
    font-size: 26px;
    line-height: 28px;

    margin-top: 45px;
}

.browse-no-results > a {
    text-decoration: underline;
}
