* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: "Catamaran", Arial, sans-serif;
}

html, body {
    width: 100%;
    min-height: 100%;

    background-color: #fff;
}

a {
    color: inherit;
}

h1 {
    font-size: 2rem;
}

#root, #app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#content {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}

/* GLOBAL HEADER */

.header {
    width: 100%;
    height: 50px;
    background-color: #073B4C;
    color: #fff;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.header-btns {
    height: 100%;
    display: flex;
    padding: 10px 0;
    flex-shrink: 0;
}

.header-btn {
    height: 100%;
    margin-right: 10px;
    background-color: #DA4165;
    color: #fff;
    padding: 0 8px;
    line-height: 28px;
    user-select: none;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-btn:hover {
    background-color: #EF476F;
}

.header-lnk {
    height: 100%;
    padding-right: 10px;
    line-height: 50px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
}

.header-brand {
    padding: 0 15px;
    font-size: 26px;
    line-height: 30px;
    min-width: 124px;
    text-align: center;
}

.header-brand > a, .header-btn > a, .header-lnk > a {
    text-decoration: none;
}

.header-burger {
    cursor: pointer;
    padding: 0 15px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
}

.header-burger:hover, .header-burger.active {
    background-color: #06313F;
}

.burger-bar1, .burger-bar2, .burger-bar3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
}

/* PAGE MESSAGES */
.flash {
    width: 100%;
    min-height: 42px;
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;

    background-color: #DA4165;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    padding: 0 8px 2px;
    color: #fff;

    position: relative;
}

.flash-close {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 800;

    user-select: none;

    cursor: pointer;
}

/* FOOTER */
#footer {
    width: 100%;
    text-wrap: normal;
    font-size: 0.9rem;
}

.footer-int {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    flex-shrink: 0;
    flex-grow: 1;
    min-width: 150px;

    max-width: 100%;
}

.footer-col > * {
    margin: 5px 0;
}

.footer-col > * > a {
    color: #337ab7;
    text-decoration: none;
}

.footer-col > * > a:hover {
    color: #23527c;
    text-decoration: underline;
}

.fc-smol {
    font-size: 0.7rem;
}

#footer div:first-of-type div:first-of-type div:first-of-type {
    margin-top: 0;
}

/* ELEMENTS */
.btn {
    padding: 15px;
    font-size: 0.8em;

    color: #777;
    background-color: #ccc;
    text-decoration: none;
}

.btn:enabled {
    color: #fff;
    background-color: #DA4165;
}

.btn:enabled:hover {
    background-color: #EF476F;
}

.content-int {
    background-color: #4A707C;

    color: #fff;
}

/* NOTIFICATIONS */
.ndd-body {
    position: absolute;
    top: 60px;
    padding: 20px;
    right: 20px;
    z-index: 10;
    background-color: #073B4C;
    width: 360px;

    overflow-y: auto;
    max-height: calc(80% - 60px);
}

.ndd-item {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px 0;
}

.ndd-item:last-child {
    padding-bottom: 0;
}

.ndd-text {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    opacity: 0.5;
}

.ndd-heading {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.ndd-item-title {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
}

.ndd-item-content {
    font-size: 12px;
    line-height: 14px;
}

.ndd-item-action {
    font-size: 12px;
    line-height: 18px;
    color: #DA4165;
    opacity: 0.8;
    cursor: pointer;
    user-select: none;
}

.ndd-item-action:hover {
    opacity: 1;
}

/* MSG BOX */
.darken {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(35, 39, 42, 0.7);
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOADING PAGE */
.loading-spinner {
    width: 100%;
    height: 100%;
    display: flex;

    background-color: #073B4C;
    color: #b6d2d9;

    justify-content: center;
    align-items: center;
}

.loading-internal {
    text-align: center;
}

.loading-text {
    font-size: 2em;
    font-weight: 100;
}

.loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: load 1.8s infinite ease-in-out;
}

.loader {
    color: #ffffff;

    font-size: 10px;
    margin: 40px auto;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
}

.loader:before, .loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@keyframes load {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}



/* GENERICS */

.flex-g {
    flex-grow: 1;
}

.hr {
    width: 90%;
    margin: 10px 5%;
    background-color: rgba(100, 100, 100, 0.5);
    height: 1px;
}