/* NAV BAR */

#dash-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border-bottom: 2px solid rgba(0, 0, 0, 0.1);

    position: relative;

    padding: 0 40px;
    margin-top: 15px;
}
#dash-nav > * {
    font-size: 1.5rem;
    margin-bottom: -2px;
    margin-right: 35px;
    color: #626262;

    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}
#dash-nav > .dash-slider {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #EF476F;
    width: 0;
    transition: left 150ms ease-in, width 150ms ease-in;
}
#dash-nav > .active {
    color: #000
}

/* CONTENT */
#dash-content {
    padding: 20px;
}
