.nf-wrapper {
    max-width: 640px;
    flex-direction: column !important;

    color: #e8e8e8;
}
.NotFound {
    align-items: center;
    justify-content: center;

    background-color: #4A707C;
    text-align: center;
}
.content-int.NotFound {
    display: flex;
    flex-direction: row;
}

.errorDetails {
    font-size: 4em;
    font-weight: 600;
}

.errorExtra {
    font-size: 2em;

    margin-bottom: 25px;
}

.err-btn {
    padding: 15px;
    font-size: 1.5em;
    color: #fff;
    border-radius: 2px;

    background-color: #DA4165;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.err-btn:hover {
    background-color: #EF476F;
}