.Profile, .TWOWListing {
    padding: 20px;
}

.mp-sect {
    margin-bottom: 60px;
}

.mp-sect:last-child {
    margin-bottom: 0;
}

.mp-sect-head {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 16px;
}

.mp-sect-body {
    background-color: rgba(6, 49, 63, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.1);

    padding: 20px;

    display: flex;
    flex-direction: row;

    margin-bottom: 20px;

    position: relative;
}

.mp-sect-msg {
    background-color: rgba(6, 49, 63, 1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 30px;
    max-width: 450px;
    width: 100%;
    z-index: 5;

    cursor: pointer;

    opacity: 1 !important;
}

.mp-sect-msg-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 24px;
}

.mp-sect-msg-body {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
}

.mp-sect-msg-extra {
    font-size: 12px;
    line-height: 14px;
    opacity: 0.7;
}

.mp-sect-editing {
    background-color: rgba(6, 49, 63, 0.8);
}

.mp-sect-editing > .mp-sect-info > * > .mp-prop-lab {
    color: hsla(210, 3%, 87%, 0.7);
}

.mp-sect-info {
    flex-grow: 1;
}

.mp-sect-link {
    position: absolute;
    text-transform: uppercase;
    top: 20px;
    right: 20px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #fff;
    opacity: 0.5;
    user-select: none;
    cursor: pointer;
}

.mp-sect-link:hover {
    opacity: 0.8;
}

.mp-sect-body:last-child {
    margin-bottom: 0;
}

.mp-sect-pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-right: 10px;

    flex-shrink: 0;
}

.mp-sect-collapsed {
    padding: 10px 20px;
    cursor: pointer;
}

.mp-sect-collapsed > .mp-sect-link {
    position: inherit;
    top: inherit;
    right: inherit;
    display: flex;
    align-items: center;
}

.mp-sect-editing > .mp-sect-link {
    display: none;
}

.mp-sect-collapsed > .mp-sect-pfp {
    width: 25px;
    height: 25px;
}

.mp-sect-collapsed > .mp-sect-info {
    display: flex;
    align-items: center;
}

.mp-sect-collapsed > .mp-sect-info > * {
    display: none;
    margin: 0;
}

.mp-sect-collapsed > .mp-sect-info > *:first-child {
    display: block;
}

.mp-sect-collapsed > .mp-sect-info > *:first-child > .mp-prop-lab {
    display: none;
}

.mp-prop {
    margin-bottom: 20px;
    position: relative;
}

.mp-prop-chars {
    position: absolute;
    right: 8px;
    bottom: 2px;
    font-size: 14px;
    color: hsla(210, 3%, 87%, 0.5);
}

.mp-prop:last-child {
    margin-bottom: 0;
}

.mp-prop-lab {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: hsla(210, 3%, 87%, 0.7);
    margin-bottom: 4px;
}

.mp-prop-val {
    color: #d7d9d9;
    line-height: 16px;
    white-space: pre-wrap;
}

.mp-prop-inp {
    background-color: rgba(0, 0, 0, .2);
    color: #d7d9d9;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .4);
    font-size: 16px;
    outline: 0;
    margin: 2px 0;
    transition: border-color 50ms ease;
}

textarea.mp-prop-inp {
    height: auto;
    resize: vertical;
    min-height: 64px;
}

textarea.mp-prop-inp::-webkit-scrollbar {
    display: none
}

.mp-prop-inp:hover {
    border-color: rgba(0, 0, 0, .9);
}

.mp-prop-inp:focus {
    border-color: #EF476F;
}

.mp-sect-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mp-sect-btn {
    height: 32px;
    margin-left: 16px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    min-height: 32px;
    min-width: 60px;
    width: auto;
    display: flex;
    font-size: 14px;
    justify-content: center;
    line-height: 16px;
    padding: 2px 16px;
    position: relative;
    user-select: none;
    align-items: center;
    background: none;
}

.mp-sect-btn.btn-l {
    transition: background-color 50ms ease;
    background-color: #DA4165;
}

.mp-sect-btn.btn-l:hover {
    background-color: #EF476F;
}
