.profile-header {
    margin: -20px -20px 20px;

    height: 200px;

    background-color: #fff;
    color: #000;
    border-top: 2px solid rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: row;
    align-items: center;

    box-shadow: 0 1px 5px -2px #000;
}

.profile-pfp {
    width: 148px;
    height: 148px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-right: 20px;
    margin-left: 50px;
    flex-shrink: 0;
}

.profile-username {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.profile-sub {
    font-size: 24px;
    line-height: 24px;
}

.Profile > .mp-sect-body {
    max-height: 512px;
    overflow-y: auto;
}
