#sidebar {
    background-color: #06313F;
    color: #fff;
    padding: 20px;
    flex-shrink: 1;
    max-width: 250px;

    display: flex;
    flex-direction: column;
}

#sidebar > p {
    margin-bottom: 10px;
}

.content-int {
    flex-grow: 1;
}

#sidebar > .sb-nav > * > li:not(:hover) {
    border: none;
    padding-left: 11px;
}

.sb-nav > * > li {
    list-style: none;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 10px;
    color: #bbb;

    cursor: pointer;
}

.sb-nav > a {
    height: 27px;
    display: block;
}

.sb-nav > * > li:hover {
    border-left: 2px solid rgba(239, 71, 111, 0.8);
    padding-left: 9px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-hidden {
    margin-left: -250px;
}
