<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,400,700" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">

        {%  block head %}
            <title>TWOW Online - {% block title %}{% endblock %}</title>
        {% endblock %}
    </head>

    <body>
        <div id="app">
            {% block header %}
                {% include 'partials/header.html' %}
            {% endblock %}

            {%  include 'partials/flashes.html' %}

            <div id="content">
                {% block content %}{% endblock %}
            </div>

            <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            {% block page_footer %}{% endblock %}
        </div>
    </body>
</html>
