<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/docs.css') }}">

    <title>TWOW Online API Documentation</title>
</head>

<body>
<div id="app">
    {% include 'partials/flashes.html' %}

    <div id="content">
        <h1>TWOW Online API Documentation</h1>
        <h2>Endpoints</h2>

        <hr>

        <h3>GET /twows/search</h3>
        <h4>Parameters</h4>
        <pre>{
    perPage: (string)      The number of results every page,
    page:    (int)         The current page number,
    status:  (string|null) The status of TWOWs,
    owner:   (string|null) The owner of the TWOWs
}</pre>
        <h4>Returns</h4>
        <p>Array of partial TWOW objects</p>

        <hr>

        <h3>POST /validate_token</h3>
        <h4>Parameters</h4>
        <pre>{
    token: (string) The token to validate
}</pre>
        <h4>Returns</h4>
        <p>Standard format</p>
        <h5>Return data</h5>
        <p>Partial user object</p>

        <hr>

        <h3>POST /login</h3>
        <h4>Parameters</h4>
        <pre>{
    uname:    (string) The username,
    password: (string) The password
}</pre>
        <h4>Returns</h4>
        <p>Standard format</p>
        <h5>Return data</h5>
        <p>Partial user object (inc token)</p>

        <hr>

        <h3>POST /register</h3>
        <h4>Parameters</h4>
        <pre>{
    uname:    (string) The username,
    password: (string) The password,
    email:    (string) The email
}</pre>
        <h4>Returns</h4>
        <p>Standard format</p>
        <h5>Return data</h5>
        <p>Partial user object (inc token)</p>

        <hr>

        <h3>POST /update_user</h3>
        <h4>Parameters</h4>
        <pre>{
    old_uname: (string) The original username,
    uname:     (string) The new username,
    email:     (string) The new email,
    bio:       (string) The new bio
}</pre>
        <h4>Returns</h4>
        <p>Standard format</p>
        <h5>Return data</h5>
        <p>Partial user object</p>

        <hr>

        <h3>POST /twows/create</h3>
        <h4>Parameters</h4>
        <pre>{
    name:        (string) The name,
    description: (string) The description,
    image:       (string) The icon
}</pre>
        <h4>Returns</h4>
        <p>Standard format</p>
        <h5>Return data</h5>
        <pre>{
}</pre>
        <p><b>CAN HAS TWOW ID PLS?</b></p>

        <hr>

        <h3>Object types</h3>

        <hr>

        <h4>Standard response</h4>
        <pre>{
    'success': (boolean),
    'data': {
        ...
    }
}</pre>
        <hr>
        <h4>Partial user</h4>
        <p><i>All values optional</i></p>
        <pre>{
    'username': (string),
    'email':    (string),
    'token':    (string) Reusable token. Should be cached.,
    'bio':      (string),
    'css':      (string) User's custom CSS to load
}</pre>

        <hr>
        <h4>Partial TWOW</h4>
        <p><i>All values optional</i></p>
        <pre>{
    'name':    (string) Name of the TWOW,
    'state':   (string) TWOW status,
    'ownerId': (string) ID of owner,
    'members': (int)    No. of members,
    'imageSm': (string) Small image to load first,
    'image':   (string) Full image
}</pre>
    </div>
</div>
</body>
</html>
