{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>TWOW Online</title>
{% endblock %}

{% block content %}
    <div id="index">
        <div id="index-head">
            <div class="index-wrapper">
                <div class="cta">TWOW Online</div>
                <div class="cta-sub">The only place on the internet with 24/7 TWOW!</div>

                {% if g.user %}
                <a href="/dash"><div class="cta-btn">My Dashboard</div></a>
                {% else %}
                <a href="/register"><div class="cta-btn">Get Started Now</div></a>
                {% endif %}
            </div>
            <svg version="1.1" id="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 1440 126" style="enable-background:new 0 0 1440 126;" xml:space="preserve">
                <style type="text/css">
                    .st0{fill:#fff;}
                </style>
                <path class="st0" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"/>
            </svg>
        </div>
        <div class="index-wrapper">
            <div class="cta2">Seriously the best way to play TWOW</div>
            <div class="cta2-sub">Don't believe us? Ask the <span id="twow-count">0</span> people running TWOWs with us right now!</div>
            <div class="hr"></div>
            <div class="col-split">
                <div class="col">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque consequat tellus id fringilla. Mauris pretium tempor tempus. Proin auctor turpis eget dolor molestie scelerisque. Donec at malesuada turpis, quis viverra augue. Cras porttitor eu arcu vel gravida. Maecenas euismod ipsum dignissim mauris finibus imperdiet. Pellentesque eros tellus, scelerisque nec volutpat eget, tempus vitae sapien. In nec sagittis sem. Aenean eget mollis magna. Vestibulum id porta ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris eget sapien et nisi porta accumsan. Phasellus accumsan ipsum posuere rhoncus gravida.<br><br>
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus urna arcu, aliquet id placerat nec, sodales a nulla. Praesent tincidunt venenatis nisi at egestas. Donec mollis et enim quis auctor. Pellentesque imperdiet condimentum ante, tempus finibus justo venenatis commodo. Cras egestas, massa a facilisis gravida, dui nunc dapibus mi, nec auctor magna nunc a mauris. Aliquam erat volutpat. Quisque ac commodo sem, nec venenatis nulla. Morbi non neque dignissim, bibendum felis in, varius velit. Nunc non pellentesque lacus.
                </div>
                <div class="col">
                    <img class="fw-img" src="https://www.gettyimages.ca/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg"/>
                </div>
            </div>
            <div class="hr"></div>
            <div class="col-split">
                <div class="col">
                    <img class="fw-img" src="https://www.wonderplugin.com/videos/demo-image0.jpg"/>
                </div>
                <div class="col">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis suscipit felis. Nulla mi arcu, porttitor ut magna eget, condimentum euismod ante. Aliquam erat volutpat. Vivamus id metus non nulla tempus varius vel vitae ex. Nulla tempus aliquet tristique. Aenean maximus tristique est. Etiam eget blandit purus, eu porta risus. Integer id turpis aliquet, blandit odio quis, efficitur leo. In hac habitasse platea dictumst. Nullam efficitur, libero at ultricies tincidunt, lectus enim rhoncus justo, id viverra urna lacus eget risus. Mauris consectetur pretium augue non rhoncus. Mauris at fermentum lectus. Ut porta, massa ac blandit mattis, augue lacus lacinia nunc, et commodo massa justo vel ipsum.<br><br>
                    Cras maximus enim efficitur, consectetur lorem nec, molestie justo. Praesent vitae libero in lorem pretium maximus a sit amet urna. Cras tincidunt nisi sem, non ullamcorper massa sodales a. Aliquam risus orci, feugiat in diam eu, blandit egestas augue. Curabitur semper porttitor tellus, id ullamcorper eros tincidunt non. Pellentesque tortor tellus, aliquam viverra orci quis, venenatis elementum arcu. Cras non libero ut ante ultricies viverra id et quam. Fusce hendrerit, ligula ac egestas rhoncus, felis quam luctus mi, quis varius dolor justo ac sapien. In libero magna, euismod in mi eu, congue interdum metus. Ut facilisis, mauris vitae euismod tristique, massa sem vulputate neque, a blandit lorem tellus at ipsum. In massa enim, consectetur eu vestibulum ut, bibendum id felis. Curabitur sit amet diam mi. Donec vel convallis elit. Praesent posuere justo sem, vitae cursus quam venenatis et. Integer sollicitudin est vel felis accumsan, at placerat quam congue. Pellentesque suscipit hendrerit lobortis.
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}
    {% include 'partials/footer.html' %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
