* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: "Catamaran", Arial, sans-serif;
}

html, body {
    width: 100%;
    min-height: 100%;

    background-color: #fff;
}

a {
    color: inherit;
}

h1 {
    font-size: 2rem;
}

#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#content {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}

/* GLOBAL HEADER */

.header {
    width: 100%;
    height: 50px;
    background-color: #073B4C;
    color: #fff;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}
.header-btns {
    height: 100%;
    display: flex;
    padding: 10px 0;
    flex-shrink: 0;
}
.header-btn {
    height: 100%;
    margin-right: 10px;
    background-color: #DA4165;
    color: #fff;
    padding: 0 8px;
    line-height: 28px;
    user-select: none;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-btn:hover {
    background-color: #EF476F;
}
.header-lnk {
    height: 100%;
    padding: 0 15px;
    line-height: 50px;
    font-size: 14px;
    cursor: pointer;
}
.header-brand {
    padding: 0 15px;
    font-size: 26px;
    line-height: 30px;
    min-width: 124px;
    text-align: center;
}
.header-brand > a, .header-btn > a, .header-lnk > a {
    text-decoration: none;
}

/* PAGE MESSAGES */
.flash {
    width: 100%;
    min-height: 42px;
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;

    background-color: #DA4165;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    padding: 0 8px 2px;
    color: #fff;

    position: relative;
}
.flash:after {
    content: "\00d7";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 800;

    cursor: pointer;
}

/* FOOTER */
#footer {
    width: 100%;
    text-wrap: normal;
    font-size: 0.9rem;
}
.footer-int {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.footer-col {
    flex-shrink: 0;
    flex-grow: 1;
    min-width: 150px;

    max-width: 100%;
}
.footer-col > * {
    margin: 5px 0;
}
.footer-col > * > a {
    color: #337ab7;
    text-decoration: none;
}
.footer-col > * > a:hover {
    color: #23527c;
    text-decoration: underline;
}
.fc-smol {
    font-size: 0.7rem;
}
#footer div:first-of-type div:first-of-type div:first-of-type{
    margin-top: 0;
}

/* SIDEBAR */
#sidebar {
    background-color: #06313F;
    color: #fff;
    padding: 20px;
    flex-shrink: 1;
    max-width: 250px;

    display: flex;
    flex-direction: column;
}

.content-int {
    flex-grow: 1;
}

/* GENERICS */

.flex-g {
    flex-grow: 1;
}
.hr {
    width: 90%;
    margin: 10px 5%;
    background-color: rgba(100, 100, 100, 0.5);
    height: 1px;
}