/* RE-THEME FOOTER */
#footer {
    background-color: #222;
    padding: 20px;
    color: #fff;
}

.fc-smol {
    align-items: flex-end;
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
}

/* INDEX THEME */
#index {
    width: 100%;
}

.index-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 20px;
}

#index-head {
    background-image: url('https://www.hdwallpapers.in/download/mountains_landscape_hd_4k-wide.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    color: rgba(0, 0, 0, 0.9);
    padding-top: 30px;
    overflow: hidden;
}

#waves {
    display: block;
    margin-bottom: -2px;
}

.cta {
    font-size: 15vmin;
    font-weight: 100;
}

.cta2 {
    font-size: 10vmin;
    font-weight: 100;
    text-align: right;
}

.cta-sub {
    text-align: right;
    font-size: 10vmin;
    font-weight: 100;
}

.cta2-sub {
    font-size: 5vmin;
    font-weight: 100;
}

.cta-btn {
    width: 80%;
    margin: 15px auto;
    padding: 5px 25px;
    background-color: #DA4165;
    color: #fff;
    border-radius: 4px;
    font-size: 5vmin;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

.cta-btn:hover {
    background-color: #EF476F;
}

.fw-img {
    max-width: 100%;
    margin: 15px 0;
}

a {
    text-decoration: none;
}

.col-split {
    display: flex;
    flex-wrap: wrap;
}
.col {
    width: 50%;
    padding: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media only screen and (max-width: 640px) {
    .col {
        width: 100%;
    }
}