<div id="footer">
    <div class="footer-int">
        <div class="footer-col">
            <div class="footer-col-head">TWOW Online</div>
            <p><a href="/about">About</a></p>
            <p><a href="/terms">Terms of Use</a></p>
            <p><a href="/privacy">Privacy Policy</a></p>
        </div>
        <div class="footer-col">
            <div class="footer-col-head">Community</div>
            <p><a href="https://discord.gg/Qct6pAM">HTwins Central</a></p>
            <p><a href="https://www.youtube.com/user/carykh">@carykh on YouTube</a></p>
        </div>
        <div class="footer-col fc-smol">
            <p>Copyright © 2018 TWOW Online team</p>
        </div>
    </div>
</div>
