<div class="header">
    <div class="header-brand"><a href="/">TWOW Online</a></div>

    <div class="flex-g"></div>

    {% if g.user %}
        <div class="header-lnk"><a href="">{{ g.user[2] }}</a></div>
    {%  endif %}

    <div class="header-btns">
        {% if g.user %}
            <div class="header-btn"><a href="{{ url_for('auth.logout') }}">Log Out</a></div>
            <div class="header-btn"><a href="{{ url_for('twows.create_twow') }}"><b>+</b> Create</a></div>
        {% else %}
            <div class="header-btn"><a href="{{ url_for('auth.register') }}">Sign Up</a></div>
            <div class="header-btn"><a href="{{ url_for('auth.login') }}">Log In</a></div>
        {% endif %}
    </div>
</div>
